<div class='heading'>
    <img src="./static/logo.svg" alt="Logo" />
    <h3>Image Description Generator</h3>
</div>
<div class="everything">
        <form action="/results" id='my-form' method="POST" enctype="multipart/form-data">
            <div class="drop-zone" id='drop-box'>
                <span class="drop-zone__prompt">
                    <div class="temp">
                        <label for="myfile">Click To Upload</label>
                    </div>

                </span>
                <input type="file" id="myfile" onchange="showMyImage(this)" name="myfile" accept="image/*" class="drop-zone__input">
                <!-- <br><br> -->
            </div>
        </form>

        <div class='my-img'>
            <img id="show-image" src="" alt="Image is loading" />
        </div>
        <!-- <br> -->
        <div class="loader" id="loader"></div>
        <p id='desc'></p>

    <div class="btns">
        <button type="button" class="buttons" onclick="predict()">Generate Description</button>
        <button type="button" class="buttons" onclick="audio()">Play me</button>
        <button type="button" class="buttons" onclick="refresh()">Upload Other Image</button>
        <button type="button" class="buttons" onclick="search()">Search</button>
    </div>
</div>
<div class='credits'>
    <p>Made with <span style="color: #c40808;">❤</span> by Dhruvik, Dhaval and Harsh &nbsp;<a href="https://github.com/dhruvik-patel/image-description" target="_blank"><img style="height:20px;width:20px;vertical-align:middle;" src="./static/git.png" alt="Github"></a></p>
</div>